# Default ignored files

/shelf/
/material_theme_project_new.hml/
/workspace.xml

# Editor-based HTTP Client requests

/httpRequests/

# Datasource local storage ignored files

/dataSources/

/dataSources.local.xml

oldCREST.txt
scancrestik.txt
/idea/